@model  IHFF_V2.Models.DetailRestaurantViewModel
@{
    ViewBag.Title = "BewerkRestaurant";
}

<div class="backend">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Event.Titel)
        @Html.TextBoxFor(m => m.Event.Titel)
        @Html.ValidationMessageFor(m => m.Event.Titel)
        <br /><br />
        @Html.LabelFor(m => m.Event.Locatie)
        @Html.TextBoxFor(m => m.Event.Locatie)
        @Html.ValidationMessageFor(m => m.Event.Locatie)
        <br /><br />
        @Html.LabelFor(m => m.Event.Beschrijving)
        @Html.TextBoxFor(m => m.Event.Beschrijving)
        @Html.ValidationMessageFor(m => m.Event.Beschrijving)
        <br /><br />
        @Html.LabelFor(m => m.Event.Tijd)
        @Html.TextBoxFor(m => m.Event.Tijd)
        @Html.ValidationMessageFor(m => m.Event.Tijd)
        <br /><br />
        @Html.LabelFor(m => m.Event.Prijs)
        @Html.TextBoxFor(m => m.Event.Prijs)
        @Html.ValidationMessageFor(m => m.Event.Prijs)
        <br /><br />
        @Html.LabelFor(m => m.Restaurant.Soort)
        @Html.TextBoxFor(m => m.Restaurant.Soort)
        @Html.ValidationMessageFor(m => m.Restaurant.Soort)
        <br /><br />
        @Html.LabelFor(m => m.Restaurant.OpeningsTijd)
        @Html.TextBoxFor(m => m.Restaurant.OpeningsTijd)
        @Html.ValidationMessageFor(m => m.Restaurant.OpeningsTijd)
        <br /><br />
        @Html.LabelFor(m => m.Restaurant.SluitingsTijd)
        @Html.TextBoxFor(m => m.Restaurant.SluitingsTijd)
        @Html.ValidationMessageFor(m => m.Restaurant.SluitingsTijd)
        <br /><br />
        @Html.LabelFor(m => m.Restaurant.Aantal)
        @Html.TextBoxFor(m => m.Restaurant.Aantal)
        @Html.ValidationMessageFor(m => m.Restaurant.Aantal)
        <br /><br />
        <div hidden>
            @Html.LabelFor(m => m.Event.Id)
            @Html.TextBoxFor(m => m.Event.Id)
            @Html.ValidationMessageFor(m => m.Event.Id)

            @Html.LabelFor(m => m.Restaurant.Id)
            @Html.TextBoxFor(m => m.Restaurant.Id)
            @Html.ValidationMessageFor(m => m.Restaurant.Id)

            @Html.LabelFor(m => m.Restaurant.EventId)
            @Html.TextBoxFor(m => m.Restaurant.EventId)
            @Html.ValidationMessageFor(m => m.Restaurant.EventId)

            @Html.LabelFor(m => m.Event.Type)
            @Html.TextBoxFor(m => m.Event.Type)
            @Html.ValidationMessageFor(m => m.Event.Type)

        </div>
        <input type="submit" value="Pas evenement aan" />
    }

</div>
