@using IHFF_V2.Models;
@using IHFF_V2;
@{
    ViewBag.Title = "Index";
}

@{ 
    string typeCheck = "";
}
<div class="backendindex">
    @Html.ActionLink(linkText: "Voeg evenement toe",
                                 actionName: "Add",
                             controllerName: "Backend")<br /><br />
        @foreach (var eventItem in Model)
        {
            if (typeCheck != eventItem.Type)
            {
            <br /><br /><h2>@eventItem.Type</h2>

            }
        <div class="BewerkDeel">
            @eventItem.Titel<br />
            @{
            string type = "Bewerk" + eventItem.Type;
            }

            @Html.ActionLink(linkText: "Bewerk evenement",
                                 actionName: type,
                             controllerName: "Backend",
                            routeValues: new
                            {
                                Id = eventItem.Id
                            },
            htmlAttributes: null)
            <br />
            @Html.ActionLink(linkText: "Verwijder evenement",
                                 actionName: "Delete",
                             controllerName: "Backend",
                            routeValues: new
                            {
                                Id = eventItem.Id
                            },
            htmlAttributes: null)<br /><br />

        </div>
        typeCheck = eventItem.Type;
    }
</div>