@{
    ViewBag.Title = "DagProgramma:";
}

@section Styles {
    <link href="@Url.Content("~/Content/dagoverzicht.css")" rel="stylesheet" />
}




<h2>DagProgramma: @ViewBag.Dag</h2>

@using IHFF_V2.Models
@using IHFF_V2;



@model  IEnumerable<Event>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")

        <input type="submit" value="Search" />
    </p>
}

<nav id="Filters">


    @Html.ActionLink(linkText: "Terug",
     actionName: "Index",
     controllerName: "Film",
    routeValues: new { Dag = "dinsdag" }, htmlAttributes: null)


    @Html.ActionLink(linkText: "woensdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new { Dag = "woensdag" }, htmlAttributes: null)


    @Html.ActionLink(linkText: "donderdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new { Dag = "donderdag" }, htmlAttributes: null)


    @Html.ActionLink(linkText: "vrijdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new { Dag = "vrijdag", }, htmlAttributes: null)


    @Html.ActionLink(linkText: "zaterdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new { Dag = "zaterdag" }, htmlAttributes: null)


    @Html.ActionLink(linkText: "zondag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new { Dag = "zondag" }, htmlAttributes: null)

</nav>

@foreach (var film in Model)
{
    <section id="filminfo">


        @if (film.Poster != null)
        {
            <img src="@Blobmanager.ImageSource(film.Poster)" height="240" width="163" />
        }
        <p class="titel">@film.Titel</p>
        <p class="locatie">@film.Locatie</p>
        <p class="tijd">@film.Tijd</p>
        <p class="beschrijving">  @film.Beschrijving </p>

        @Html.ActionLink(linkText: "Meer Info",
                                 actionName: "DetailFilmpage",
                             controllerName: "Film",
                            routeValues: new
                            {
                                Id = film.Id
                            },
            htmlAttributes: null)
    
    </section>
}







