@using IHFF_V2.Models;
@using IHFF_V2;

@section Styles {
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" />
}

<h2>Index</h2>
@model  IEnumerable<Event>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>

    <nav id="Filters">



        @Html.ActionLink(linkText: "woensdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new
    { Dag = "woensdag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "donderdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new
    { Dag = "donderdag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "vrijdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new
    { Dag = "vrijdag", }, htmlAttributes: null)


        @Html.ActionLink(linkText: "zaterdag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new
    { Dag = "zaterdag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "zondag",
     actionName: "DagProgramma",
     controllerName: "Film",
    routeValues: new
    { Dag = "zondag" }, htmlAttributes: null)

    </nav>


    <section class="catalogus">
        @foreach (var film in Model)
        {

            <section class="Filminfo">
                @if (film.Poster != null)
                {
                    <img src="@Blobmanager.ImageSource(film.Poster)" width="170" height="242" />
                }

                else
                {
                    <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" , width="170" , height="242" />
                }

                <ul>
                    <li>
                        @film.Titel
                    </li>
                    <li>
                        @film.Locatie
                    </li>                
                </ul>

                @Html.ActionLink(linkText: "Meer Info",
                                 actionName: "DetailFilmpage",
                             controllerName: "Film",
                            routeValues: new
                            {
                                Id = film.Id
                            },
            htmlAttributes: null)
            </section>

        }
    </section>

}
