@model IHFF_V2.Models.DetailFilmViewModel
@{
    ViewBag.Title = "DetailFimpage";
}
@{ var e = Model.Event; var f = Model.Film; } <!-- twee model variabele aangemaakt -->

<h2>@e.Titel</h2>


@e.Poster
@e.Beschrijving
@f.Acteur
@f.Regisseur
@f.Jaar
