@using IHFF_V2.Models;
@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>
@model  IEnumerable<Event>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>

    @Html.ActionLink(linkText: "maandag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "maandag" }, htmlAttributes: null)

    <&nbsp;> </&nbsp;>

    @Html.ActionLink(linkText: "dinsdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "dinsdag" }, htmlAttributes: null)

    <&nbsp;> </&nbsp;>

    @Html.ActionLink(linkText: "woensdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "woensdag" }, htmlAttributes: null)

    <&nbsp;> </&nbsp;>

    @Html.ActionLink(linkText: "donderdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "donderdag" }, htmlAttributes: null)

    <&nbsp;> </&nbsp;>

    @Html.ActionLink(linkText: "vrijdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "vrijdag",  }, htmlAttributes: null)

    <&nbsp;> </&nbsp;>

    @Html.ActionLink(linkText: "zaterdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "zaterdag" }, htmlAttributes: null)

    <&nbsp;> </&nbsp;>

    @Html.ActionLink(linkText: "zondag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "zondag" }, htmlAttributes: null)

    foreach (var film in Model)
    {

        <h1> @film.Titel </h1>

        if (film.Poster != null)
        {
            var base64 = Convert.ToBase64String(film.Poster);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <table>
                <tr><td><img src="@imgSrc" width="200" height="200" /> </td></tr>
                <tr><td>@film.Locatie</td></tr>                
                <tr><td>@film.Tijd.Value.DayOfWeek</tr>
               <tr><td>@film.Type</td></tr>
               
            </table>

        }

        else
        {
            <br />
           <p> <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png", width="200", height="200" /></p>
        }

        @Html.ActionLink(linkText: "Add image",
            actionName: "AddImage",
            controllerName: "FilmOverzicht",
            routeValues: new
            { Id = film.Id },
            htmlAttributes: null)
    }


}
