@using IHFF_V2.Models;
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet"/>
}

<h2>Index</h2>
@model  IEnumerable<Event>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>


    <section id="Filters">
        @Html.ActionLink(linkText: "maandag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "maandag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "dinsdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "dinsdag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "woensdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "woensdag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "donderdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "donderdag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "vrijdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "vrijdag", }, htmlAttributes: null)


        @Html.ActionLink(linkText: "zaterdag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "zaterdag" }, htmlAttributes: null)


        @Html.ActionLink(linkText: "zondag",
    actionName: "Index",
    controllerName: "FilmOverzicht",
    routeValues: new
    { Dag = "zondag" }, htmlAttributes: null)

    </section>


    foreach (var film in Model)
    {

            <section class="Filminfo">
               @if (film.Poster != null)
                {
                var base64 = Convert.ToBase64String(film.Poster);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" width="170" height="242" />
                }

                else
                {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" , width="170" , height="242" />
                }
           
                <ul>
                    <li>
                        @film.Titel
                    </li>
                    <li>
                        @film.Locatie
                    </li>
                    <li>
                        @film.Tijd.Value.DayOfWeek
                    </li>
                </ul>

                            
                          



                @Html.ActionLink(linkText: "Add image",
                            actionName: "AddImage",
                             controllerName: "FilmOverzicht",
                            routeValues: new
                            {
                                Id = film.Id
                            },
            htmlAttributes: null)
            </section>



        }

}
