@model IHFF_V2.Models.Event
@using IHFF_V2

@{ var e = Model; }
@{
    ViewBag.Title = "DetailedCultuurPage";
}


<environment names="Development">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/FilmDetail.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

<div class="fill">&nbsp;</div>

<div class="row" id="background">

    <div class="col-xs-6 col-md-4">
        @if (e.Poster != null)
            {
            <img class="Poster" src="@Blobmanager.ImageSource(e.Poster)" width="272" height="387" />
        }

        else
        {
            <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" , width="272" , height="387" />
        }
    </div>

    <div class="col-xs-6 col-md-4">
        <h2 class="text-titel">@e.Titel</h2>

        <p>@e.Beschrijving</p>
    </div>

    <div class="col-xs-6 col-md-4">
        <ul id="filminfo">
            <li>Locatie: @e.Locatie</li>
            <li>Openinstijd: @e.Tijd</li>
            <li>Entree prijs: @e.Prijs</li>
        </ul>
    </div>
</div>