@using IHFF_V2.Models;
@using IHFF_V2;
@model  List<Event>
@{
    ViewBag.Title = "Home Page";
}
    <div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
            <a href="~/FilmOverzicht/Index.cshtml">
                <img src="~/Images/BannerFilm.png" class="slider-image" />
            </a>
            <a href="~/Food/Index.cshtml">
                <img src="~/Images/BannerFood.png" class="slider-image" />
            </a>
            <a href="~/SpecialOverzicht/Index.cshtml">
                <img src="~/Images/BannerCulture.png" class="slider-image" />
            </a>
        </div>
        <div class="button-holder">
            <a href="#slider-image-1" class="slider-change"></a>
            <a href="#slider-image-2" class="slider-change"></a>
            <a href="#slider-image-3" class="slider-change"></a>
        </div>
    </div>

<div class="genre-wrapper">
    <div class="genre-block">
        <div class="genre">
            <div class="genre-header">Food</div>
            <img class="genre-icon" src="~/Images/icon-nutrition-hi.png" alt="food icon" height="75" width="75" />
            @for (int i = 0; i < 2; i++){
                <div class="event-titel">
                    @Html.ActionLink(Model[i].Titel, "DetailRestaurantpage", "Restaurant", routeValues: new
                                     {
                                         Id = Model[0].Id
                                     },
            htmlAttributes: null)
            </div><br />
            if (Model[i].Poster != null){
                <img src="@Blobmanager.ImageSource(Model[i].Poster)" width="170" height="242" />
            }
            else{
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
           }
            
            
        </div>
        <div class="genre">
            <div class="genre-header">Film</div>
            <img class="genre-icon" src="~/Images/film-128.png" alt="film icon" height="75" width="75"/>
            @for (int i = 2; i < 4; i++)
            {
                <div class="event-titel">
                    @Html.ActionLink(Model[i].Titel, "DetailFilmpage", "FilmOverzicht", routeValues: new
                                     {
                                         Id = Model[i].Id
                                     },
            htmlAttributes: null)
            </div><br />
            if (Model[i].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[i].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
            }
           
        </div>
        <div class="genre">
            <div class="genre-header">Specials</div>
            <img class="genre-icon" src="~/Images/icon-arts.png" alt="culture icon" height="75" width="75" />
            @for (int i = 4; i < 6; i++)
            {
                <div class="event-titel">
                    @Html.ActionLink(Model[i].Titel, "DetailSpecialpage", "Special", routeValues: new
                                     {
                                         Id = Model[i].Id
                                     },
            htmlAttributes: null)
            </div><br />
            if (Model[i].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[i].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
            }               
        </div>
    </div>
</div>