@using IHFF_V2.Models;
@using IHFF_V2;
@model  List<Event>
@{
    ViewBag.Title = "Home Page";
}
    <div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
            <img src="1.jpg" class="slider-image" />
            <img src="2.jpg" class="slider-image" />
            <img src="3.jpg" class="slider-image" />
        </div>
        <div class="button-holder">
            <a href="#slider-image-1" class="slider-change"></a>
            <a href="#slider-image-2" class="slider-change"></a>
            <a href="#slider-image-3" class="slider-change"></a>
        </div>
    </div>

<div class="genre-wrapper">
    <div class="genre-block">
        <div class="genre">
            <div>Food</div>
            @Model[0].Titel
            @Model[0].Poster
            @Model[1].Titel
            @Model[1].Poster
            
        </div>
        <div class="genre">
            <div>Film</div>
            @Model[2].Titel
            @Model[2].Poster
            @Model[3].Titel
            @Model[3].Poster
        </div>
        <div class="genre">
            <div>Culture</div>
            @Model[4].Titel
            @Model[4].Poster
            @Model[5].Titel
            @Model[5].Poster
        </div>
    </div>
</div>