@using IHFF_V2.Models;
@using IHFF_V2;
@model  List<Event>
@{
    ViewBag.Title = "Home Page";
}
    <div class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div class="image-holder">
            <img src="~/Images/filmsbanner.png" class="slider-image" />
            <img src="~/Images/foodbanner.png" class="slider-image" />
            <img src="3.jpg" class="slider-image" />
        </div>
        <div class="button-holder">
            <a href="#slider-image-1" class="slider-change"></a>
            <a href="#slider-image-2" class="slider-change"></a>
            <a href="#slider-image-3" class="slider-change"></a>
        </div>
    </div>

<div class="genre-wrapper">
    <div class="genre-block">
        <div class="genre">
            <div class="genre-header">Food</div>
            <img class="genre-icon" src="~/Images/icon-nutrition-hi.png" alt="food icon" height="75" width="75" />
            <div class="event-titel">@Html.ActionLink(Model[0].Titel, "DetailRestaurantpage", "Restaurant", routeValues: new
                                {
                                    Id = Model[0].Id
                                },
            htmlAttributes: null)</div><br />
            @if (Model[0].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[0].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
            <br /><br />
            <div class="event-titel">@Html.ActionLink(Model[1].Titel, "DetailRestaurantpage", "Restaurant", routeValues: new
                                {
                                    Id = Model[1].Id
                                },
            htmlAttributes: null)</div><br />
            @if (Model[1].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[1].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
            
        </div>
        <div class="genre">
            <div class="genre-header">Film</div>
            <img class="genre-icon" src="~/Images/film-128.png" alt="film icon" height="75" width="75"/>
            <div class="event-titel">@Html.ActionLink(Model[2].Titel, "DetailFilmpage", "FilmOverzicht", routeValues: new
                                {
                                    Id = Model[2].Id
                                },
            htmlAttributes: null)</div><br />
            @if (Model[2].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[2].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
            <br /><br />
            <div class="event-titel">@Html.ActionLink(Model[3].Titel, "DetailFilmpage", "FilmOverzicht", routeValues: new
                                {
                                    Id = Model[3].Id
                                },
            htmlAttributes: null)</div><br />
            @if (Model[3].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[3].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170"  height="242" />
            }
        </div>
        <div class="genre">
            <div class="genre-header">Specials</div>
            <img class="genre-icon" src="~/Images/icon-arts.png" alt="culture icon" height="75" width="75" />
            <div class="event-titel">@Html.ActionLink(Model[4].Titel, "DetailSpecialpage", "Special", routeValues: new
                                {
                                    Id = Model[4].Id
                                },
            htmlAttributes: null)</div><br />
            @if (Model[4].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[4].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
            <br /><br />
            <div class="event-titel">@Html.ActionLink(Model[5].Titel, "DetailSpecialpage", "Special", routeValues: new
                                {
                                    Id = Model[5].Id
                                },
                                htmlAttributes: null)</div><br />
            @if (Model[5].Poster != null)
            {
                <img src="@Blobmanager.ImageSource(Model[5].Poster)" width="170" height="242" />
            }
            else
            {
                <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" width="170" height="242" />
            }
        </div>
    </div>
</div>