@using IHFF_V2;
@model IHFF_V2.Models.CartItem

@section Styles {
    <link href="@Url.Content("~/Content/ShoppingCart.css")" rel="stylesheet" />
}

@using IHFF_V2.Models

@{
    ViewBag.Title = "Index";
}
<div class="containertitle"><p id="page-title">Winkelwagen</p></div>


<!--Display all items in the cart-->
@if (Session["cart"] != null && ((ShoppingCart)Session["cart"]).GetCart().Any())
{
    foreach (CartItem ci in ((ShoppingCart)Session["cart"]).GetCart())
    {
        <div class="cart-item">
            <div class="cart-item-poster">
                @if (ci.Poster != null)
                {
                    <img class="film-poster" src="@Blobmanager.ImageSource(ci.Poster)" />
                }
                else
                {
                    <img class="film-poster" src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" />
                }
            </div>
            <div class="cart-item-information">
                <p>@ci.Titel</p>
                <p>Wanneer: @ci.Tijd</p>
                <p>Locatie: @ci.Locatie</p>
                @if (ci.Type == "Restaurant")
                {
                    <p>Reserveringskosten: €10 </p>
                    <p class="ticket-total-price">Totaal event: €10</p>
                }
                else
                {
                    <p>Prijs per ticket: €@ci.Prijs</p>
                    <p class="ticket-total-price">Totaal event: €@(ci.Prijs * ci.Quantity)</p>
                }
                <p>
                    <div class="buttons">
                        Aantal: @ci.Quantity
                        @Html.ActionLink("+", "Increment", "Cart", new { id = ci.Id }, null)
                        @Html.ActionLink("-", "Decrement", "Cart", new { id = ci.Id }, null)
                        @Html.ActionLink("Del", "Delete", "Cart", new { id = ci.Id }, null)
                    </div>
                </p>
            </div>
        </div>
        <hr />
    }
    <div id="to-payment">
        Totaal bestelling: €@(((ShoppingCart)Session["cart"]).CalculateCartValue())<br /><br />
        @Html.ActionLink("Naar bestellen", "EnterDetails", "Cart")
    </div>
}
else
{
    if (Session["cart"] == null) { Session["cart"] = new ShoppingCart(); }
    <h2>Uw winkelwagen is leeg.</h2>
}
