@{
    ViewBag.Title = "DagProgramma:";
}

@section Styles {
    <link href="@Url.Content("~/Content/dagoverzicht.css")" rel="stylesheet" />
}




<h2>DagProgramma: @ViewBag.Dag</h2>

@using IHFF_V2.Models
@using IHFF_V2;





@model  IEnumerable<Event>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")

        <input type="submit" value="Search" />
    </p>
}
<nav id="Filters">
    @Html.ActionLink(linkText: "Terug",
        actionName: "index",
    controllerName: "Special")

    @Html.ActionLink(linkText: "woensdag",
        actionName: "DagProgramma",
        controllerName: "Special",
    routeValues: new { Dag = "woensdag" }, htmlAttributes: null)

    @Html.ActionLink(linkText: "donderdag",
        actionName: "DagProgramma",
        controllerName: "Special",
    routeValues: new { Dag = "donderdag" }, htmlAttributes: null)

    @Html.ActionLink(linkText: "vrijdag",
        actionName: "DagProgramma",
        controllerName: "Special",
    routeValues: new { Dag = "vrijdag", }, htmlAttributes: null)

    @Html.ActionLink(linkText: "zaterdag",
        actionName: "DagProgramma",
        controllerName: "Special",
    routeValues: new { Dag = "zaterdag" }, htmlAttributes: null)

    @Html.ActionLink(linkText: "zondag",
        actionName: "DagProgramma",
        controllerName: "Special",
    routeValues: new { Dag = "zondag" }, htmlAttributes: null)
</nav>


    @foreach (var special in Model)
    {
        <section id="filminfo">


            @if (special.Poster != null)
            {
                <img src="@Blobmanager.ImageSource(special.Poster)" height="240" width="163" />
            }
            <p class="titel">@special.Titel</p>
            <p class="locatie">@special.Locatie</p>
            <p class="tijd">@special.Tijd</p>
            <p class="beschrijving">  @special.Beschrijving </p>
        </section>
        
                @Html.ActionLink(linkText: "Meer Info",
                              actionName: "DetailSpecialpage",
                             controllerName: "Special",
                            routeValues: new
                            {
                                Id = special.Id
                            },
            htmlAttributes: null)
    }







