@model IHFF_V2.Models.DetailSpecialViewModel
@using IHFF_V2
@{ var e = Model.Event; var s = Model.Special; } <!-- twee model variabele aangemaakt -->

<environment names="Development">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/DetailSpecial.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

@{
    ViewBag.Title = "DetailSpecialpage";
}

<div class="fill">&nbsp;</div>

<div class="row">
    <div class="col-xs-6 col-md-4">

        @if (e.Poster != null)
            {
            <img class="Poster" src="@Blobmanager.ImageSource(e.Poster)" width="272" height="400" />
        }

        else
        {
            <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" , width="272" , height="400" />
        }

    </div>

    <div class="col-xs-6 col-md-4">
        <h2 class="text-titel">@e.Titel</h2>

        <p>@e.Beschrijving</p>

@using (Html.BeginForm())
{
        <script src="~/Content/Js/PlusMinus.js"></script>
        <div id=field1>
            <button type="button" id="sub" class=sub>-</button>
            <input type="number" id="1" value=0 class=field name="aantal">
            <button type="button" id="add" class=add>+</button>
            <input type="submit" value="Reserveer" class="reserveer" />
        </div>
}


    </div>

    <div class="col-xs-6 col-md-4">
        @if(s != null){
        <ul id="filminfo">
            <li>Spreker : @s.Spreker</li>
            <li>Locatie: @e.Locatie</li>
            <li>Tijd: @e.Tijd</li>
            <li>Prijs: @e.Prijs</li>
            <li>Beschikbare Tickets: @s.Aantal</li>
        </ul>
        }
    </div>
</div>


<div class="recommend">
    <h2 class="text-titel">Wat andere aanraden: </h2>
</div>

<div class="row">

    @foreach (var r in Model.RandomEvents)
    {
        <div class="col-md-4">



            <div class="center-blocker">
                <!--if state to choose wich actionlink there should be-->
                <div class="actionlink">
                    @if (r.Type == "Restaurant")
                    {
                        @Html.ActionLink(r.Titel, "DetailRestaurantpage", "Restaurant", routeValues: new { Id = r.Id }, htmlAttributes: null)
                    }
                </div>
                <!--if state to choose wich actionlink there should be-->
                <div class="actionlink">
                    @if (r.Type == "Film")
                {
                        @Html.ActionLink(r.Titel, "DetailFilmpage", "Film", routeValues: new { Id = r.Id }, htmlAttributes: null)
                    }
                </div>

                <div class="actionlink">
                    @if (r.Type == "Cultuur")
                {
                        @Html.ActionLink(r.Titel, "DetailedCultuurPage", "Cultuur", routeValues: new { Id = r.Id }, htmlAttributes: null)
                    }
                </div>

                @if (r.Poster != null)
                {

                    <img class="center-blocker" src="@Blobmanager.ImageSource(r.Poster)" width="200" height="200" />
                }
                else
                {
                    <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" , width="200" , height="200" />
                }

            </div>

        </div>
    }

</div>