@model IHFF_V2.Models.DetailRestaurantViewModel
@using IHFF_V2
@{ var e = Model.Event; var r = Model.Restaurant; } <!-- twee model variabele aangemaakt -->

@{
    ViewBag.Title = "DetailRestaurantpage";
}


<environment names="Development">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/RestaurantDetail.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

<div class="fill">&nbsp;</div>

    <div class="row">

    <div class="col-xs-12 col-md-8">

        <div class="center-blocker">
            <div class="text-titelrestaurant"><h2>@e.Titel</h2></div>

            <div>
                @if (e.Poster != null)
                {
                    <img src="@Blobmanager.ImageSource(e.Poster)" height="400" width="484" />
                }
                else
                {
                    <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" , width="484" , height="400" />
                }
            </div>

            <div id="text"><p>@e.Beschrijving</p></div>
        </div>
    </div>

    <div class="col-xs-6 col-md-4">

        <ul id="Restaurantinfo">
            <li>Soort : @r.Soort</li>
            <li>OpeningsTijd: @r.OpeningsTijd - @r.SluitingsTijd</li>
            <li>Locatie: @e.Locatie</li>
        </ul>
@using (Html.BeginForm())
{
        <div>
            <span>Selecteer dagdeel: </span>
            <select class="selectbox" id="tijd" name="tijd">
                @foreach (var tijd in Model.Dagdeel)
                {
                    <option> Vanaf: @tijd.Value.ToString("HH:mm") </option>
                }
            </select>
        </div>
        <script src="~/Content/Js/PlusMinus.js"></script>
        <div id=field1>
            <span class="text-titel">Aantal Personen: </span>
            <button type="button" id="sub" class=sub>-</button>
            <input type="number" id="1" value=0 class=field name="aantal">
            <button type="button" id="add" class=add>+</button>
            <input type="submit" value="Reserveer" class="reserveer" />
        </div>
}
        <div >
            <p id="warning" class="text-warning">
                Let op: Er zullen 10,- euro reserverings kosten worden gemaakt. Het bedrag wordt afgetrokken bij het betalen van de rekening in het restaurant!
            </p>

        </div>

    </div>
    </div>
    
    

<div class="recommend">
    <h2 class="text-titel">Wat andere aanraden: </h2>
</div>

<div class="row">

    @foreach (var rndEvent in Model.RandomEvent)
    {
        <div class="col-md-4">



            <div class="center-blocker">

                <div class="actionlink">
                    @if (rndEvent.Type == "Film")
                    {
                        @Html.ActionLink(rndEvent.Titel, "DetailFilmpage", "FilmOverzicht", routeValues: new { Id = r.Id }, htmlAttributes: null)
                    }
                </div>

                <div class="actionlink">
                    @if (rndEvent.Type == "Special")
                {
                        @Html.ActionLink(rndEvent.Titel, "DetailSpecialpage", "Special", routeValues: new { Id = r.Id }, htmlAttributes: null)
                    }
                </div>

                <div class="actionlink">
                    @if (rndEvent.Type == "Cultuur")
                {
                        @Html.ActionLink(rndEvent.Titel, "DetailedCultuurPage", "Cultuur", routeValues: new { Id = r.Id }, htmlAttributes: null)
                    }
                </div>

                @if (rndEvent.Poster != null)
                {

                    <img class="center-blocker" src="@Blobmanager.ImageSource(rndEvent.Poster)" width="200" height="200" />
                }
                else
                {
                    <img src="http://www.freeiconspng.com/uploads/no-image-icon-10.png" , width="200" , height="200" />
                }

            </div>

        </div>
    }

</div>